<div class="jumbotron">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<div class="g-community" data-href="https://plus.google.com/communities/102424536798369424860"></div>

	<p>Hmm, not much here is there.  Want to try your hand at building a site related to the <a href="http://goo.gl/St4Kk">Figure Photography Community on Google+</a>?  Let's see what you can do:</p>
	<center>
		<a class="btn btn-info" href="https://github.com/warazashi/figure.photos" role="button"><i class="fa fa-github fa-2x"></i> figure.photos on GitHub</a>
	</center>
</div>
